.formWrapper {
    background-color: grey;
    padding: 10%;
    border-radius: 20px;
    width: 350px;
}

.formWrapper input {
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 20px;
}

